/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body
{
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  background-image: url(images/spiderman.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

h1
{
  color: white;
  font-size: 2rem;
  font-family: 'Trebuchet MS', sans-serif;
}

p 
{
  color: white;
  font-size: 1rem;
  font-family: 'Trebuchet MS', sans-serif;
}